:root {
  font-size: 62.5%;
  --primary-color: #222025;
  --secondary-color: #4e4c52;
  --text-color: #f9eaff;
  --menu-bg: #f5f6fa;
  --suport-color: #00c9a4;
  --suport-color-yellow: #f9f871;

  --font-b: 'Rubik', sans-serif;

  --h1-tam: 4rem;
  --h2-tam: 2rem;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-b);
}

.wrapper {
  width: min(50rem, 100%);
  margin-left: auto;
  margin-right: auto;

  padding-inline: 1rem;

  /* background-color: aquamarine; */
}

/* -------------- */

nav {
  background-color: var(--primary-color);
  padding-block: 1rem;
  padding-inline: 1rem;
  height: 6rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;
}

nav .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav #logo {
  font-size: 2rem;
  color: var(--text-color);
}

#menu {
  /* display: none; */

  position: absolute;
  width: 100%;
  height: 0;

  top: 6rem;
  left: 0;
  z-index: 999;

  background-color: var(--primary-color);

  /* padding-block: 3rem; */

  visibility: hidden;
  overflow-y: hidden;

  transition: 0.4s;
}

nav.active #menu {
  /* display: flex; */
  /* display: block; */
  height: calc(100vh - 5rem);
  visibility: visible;
  overflow-y: auto;
}

/*  */
#menu a {
  display: block;

  padding-inline: 1rem;
  padding-block: 2rem;
  padding-left: 2.5rem;
  margin: 0 3rem;

  font-size: 1.8rem;
  color: var(--text-color);
  border-bottom-left-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
  border-bottom: 0.1rem solid var(--suport-color);
  transition: all 0.2s;
  position: relative;
}

#menu a::before {
  content: '';
  position: absolute;
  left: auto;
  right: 96%;
  top: 31%;
  border: solid 1rem;
  border-color: transparent transparent transparent var(--suport-color);
  transition: all 0.2s;
}

#menu a:hover {
  background: rgba(0, 0, 0, 0.5);
  border-bottom-color: var(--suport-color-yellow);
}
#menu a:hover::before {
  right: 94%;
  border-color: transparent transparent transparent var(--suport-color-yellow);
}

#menu li:first-child {
  padding-top: 2rem;
}

/* btn mobile */

#btn-mobile {
  /* display: none; */
  display: flex;
  padding: 1rem 2rem;
  border: none;
  background: none;
  cursor: pointer;
}

#burger-menu {
  color: var(--suport-color);
  border-top: 0.2rem solid;
  width: 3rem;
}
#burger-menu::before,
#burger-menu::after {
  content: '';
  display: block;
  position: relative;

  width: 3rem;
  height: 0.2rem;

  background-color: currentColor;
  margin-top: 0.5rem;

  transition: all 0.3s;
}

/*  */
nav.active #burger-menu {
  border-top: none;
}
nav.active #burger-menu::before {
  transform: rotate(45deg);
}
nav.active #burger-menu::after {
  transform: rotate(-45deg);
  top: -0.7rem;
}
/*  */

/* ----------------------------- */
header {
  background: var(--secondary-color);
}

header .wrapper {
  padding-inline: 0;
}

header .content {
  width: 100%;

  padding-block: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  overflow: hidden;
  position: relative;
  z-index: 1;
}

/*  */
header .content .area {
  background: rgb(34, 32, 37);
  background: linear-gradient(
    0deg,
    rgba(34, 32, 37, 1) 20%,
    rgba(78, 76, 82, 1) 60%
  );
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

header .content .circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

header .content .circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 2rem;
  height: 2rem;
  background: var(--suport-color);
  animation: animate 20s linear infinite;
  bottom: -150px;
}

header .content .circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

header .content .circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

header .content .circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

header .content .circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

header .content .circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

header .content .circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

header .content .circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

header .content .circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

header .content .circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

header .content .circles li:nth-child(10) {
  left: 80%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
/* ---------------- */

header .content .perfil-image {
  background-color: var(--primary-color);
  width: 17rem;
  height: 17rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 0.2rem solid var(--suport-color);
}

header .content .perfil-image img {
  width: 100%;
  border-radius: 50%;
  padding: 0.5rem;
  border: 0.1rem solid transparent;
}

header .content .perfil-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 0.5rem;
  padding-block: 0.5rem;
}

header .content .perfil-text h2 {
  font-size: var(--h2-tam);
  color: var(--text-color);
  background-color: rgba(0, 0, 0, 0.5);

  position: relative;
}
header .content .perfil-text h2::before {
  content: '</>';
  color: var(--suport-color);
  position: absolute;
  left: -3.5rem;
}

header .content .perfil-text h1 {
  font-size: var(--h1-tam);
  color: var(--text-color);
  background-color: rgba(0, 0, 0, 0.5);
  padding-block: 0.5rem;

  position: relative;
}

header .content .perfil-text h1::after {
  content: '';
  display: block;
  width: 0.2rem;
  height: calc(var(--h1-tam) + 1rem);
  background-color: var(--suport-color);

  position: absolute;
  top: 0;
  right: -0.5rem;

  animation: cursorPiscaElem infinite 1s;
  animation-timing-function: ease;
}

@keyframes cursorPiscaElem {
  from {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}

header .content .perfil-links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  padding-block: 2rem;
}

header .content .perfil-links .perfil-linkedin,
header .content .perfil-links .perfil-github {
  width: 15rem;
  padding-block: 0.5rem;
  padding-right: 0.5rem;
  background-color: var(--primary-color);

  display: flex;
  align-items: center;
  justify-content: space-around;

  border: 0.1rem solid var(--suport-color);
  border-radius: 0.5rem;

  transition: all 0.3s;
}

header .content .perfil-links .perfil-linkedin:hover,
header .content .perfil-links .perfil-github:hover {
  transform: scale(1.1);
  border-color: var(--suport-color-yellow);
}

header .content .perfil-links svg {
  width: 4.5rem;
  height: 4.5rem;
}

header .content .perfil-links svg path {
  fill: var(--suport-color);
  transition: fill 0.3s;
}
header .content .perfil-links .perfil-linkedin:hover svg path,
header .content .perfil-links .perfil-github:hover svg path {
  fill: var(--suport-color-yellow);
}

header .content .perfil-links p {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--text-color);
}

/* ================================== */
.header h2 {
  padding-block: 1rem;
  padding-inline: 2rem;
  font-size: var(--h2-tam);
  color: var(--suport-color);

  position: relative;
}

.header h2::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0.2rem;
  left: 2rem;

  width: 5rem;
  height: 0.4rem;

  background: var(--suport-color);
}

/* ============================== ABOUT ========================= */

#about {
  background-color: var(--secondary-color);
  position: relative;
  z-index: 1;

  padding-block: 4rem;
}

#about::before {
  content: '';
  width: 100%;

  height: calc(100% - 20rem);
  background-color: var(--primary-color);
  display: block;

  position: absolute;
  top: 0;
  z-index: -1;
}

#about .about {
  width: 100%;

  color: var(--text-color);
}

#about .about .header {
  display: flex;
  flex-direction: column;
  padding-block: 2rem;

  gap: 2rem;
}

#about .about .content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

#about .about .img-about {
  width: 25rem;
  border-radius: 0.5rem;
  overflow: hidden;

  border: 0.2rem solid var(--suport-color);

  position: relative;
}
#about .about .img-about::after {
  content: '';
  width: 2rem;
  height: 8.5rem;
  background-color: var(--suport-color);
  display: block;
  position: absolute;

  top: -20px;
  right: 12px;
  transform: rotateZ(135deg);
}

#about .about .img-about img {
  width: 100%;
  filter: grayscale(1);
}

#about .about .text-content {
  padding-top: 0.5rem;
  padding-inline: 2rem;
}

#about .about .text-content p {
  font-size: 1.6rem;
  line-height: 150%;
  text-align: justify;
}

#about .text-content .resume-perfil::first-letter {
  font-size: 3rem;
}

/* =========================== */

#skills {
  background-color: var(--secondary-color);
  color: var(--text-color);
}

#skills .content {
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 5rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#skills .content .text-content {
  padding-inline: 2rem;
  padding-block: 1rem;
}

#skills .content .text-content p {
  font-size: 1.6rem;
  line-height: 150%;
  text-align: justify;

  background-color: var(--primary-color);
  padding: 1.5rem;
  border-radius: 0.5rem;
}

#skills .front-skills,
#skills .back-skills {
  width: 100%;

  border: 0.1rem solid var(--text-color);
  border-radius: 0.1rem;

  padding: 1rem;
}

/* skills progress */
#skills .development-title {
  font-size: 1.4rem;
  text-align: right;
  text-transform: uppercase;

  padding-top: 1rem;
  padding-right: 5rem;
  padding-bottom: 2rem;

  position: relative;
}
#skills .development-title::before {
  content: '';
  display: block;

  width: 5rem;
  height: 2rem;
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;

  position: absolute;
  left: -2rem;
  top: 0.2rem;

  background: var(--suport-color);
}

#skills .skills-bar-container {
  position: relative;
  width: 100%;
  list-style-type: none;

  padding-inline: 1rem;
}

#skills li {
  width: 100%;
  padding-block: 1rem;
}

#skills .progressbar-title {
  color: var(--text-color);
  /* margin-bottom: 0.5rem; */

  padding-block: 0.5rem;
  display: flex;
  align-content: center;
  align-items: center;
}

#skills li svg {
  width: 3rem;
  height: 3rem;
}
#skills li svg path {
  fill: var(--suport-color);
}

#skills h3 {
  font-size: 1.8rem;
  /* text-transform: uppercase; */

  display: inline-block;

  position: relative;
  padding: 0.5rem;
  margin-left: 0.5rem;
  background-color: var(--primary-color);
  border-radius: 1px;
}

#skills .percent {
  position: absolute;
  right: 2rem;
  font-size: 1.4rem;
  color: var(--suport-color-yellow);
}

#skills .bar-container {
  background: var(--primary-color);
  position: relative;
  width: 100%;
  height: 2rem;
  border-radius: 0.5rem;
}

#skills .progressbar {
  background: var(--suport-color);
  position: absolute;
  width: 0;
  height: 100%;

  border-radius: 0.5rem;
}

#skills .tools-skills ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1rem;
}
#skills .tools-skills li {
  background-color: var(--primary-color);
  padding-block: 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 0.3rem;
  gap: 5rem;
  padding-left: 5rem;
}

#skills .tools-skills p {
  font-size: 1.8rem;
}

/* ================= experience */

#experience {
  background-color: var(--primary-color);
  color: var(--text-color);
}

#experience .header {
  padding-top: 5rem;
}

#experience .content {
  padding-block: 5rem;
}

#experience ul#time-line {
  padding-block: 1rem;
  padding-left: 1rem;
  list-style-type: none;
  position: relative;
  overflow: hidden;
}
#experience ul#time-line:after {
  position: absolute;
  content: '';
  height: 100%;
  width: 1.2rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  background: var(--suport-color-yellow);
  left: 1rem;
  top: 0;
  pointer-events: none;
  margin: auto;
}

#experience ul#time-line li {
  width: 100%;
  margin-left: 1rem;
  text-align: left;
  transition: all cubic-bezier(0.68, 0.55, 0.265, 1.55) 0.5s;
}
#experience ul#time-line li div {
  /* width: 100%; */
  display: inline-block;
  background: linear-gradient(
    90deg,
    rgba(34, 32, 37, 1) 92%,
    rgba(78, 76, 82, 1) 92%
  );
  padding: 3rem;
  margin: 2rem;

  border: 0.2rem solid var(--suport-color-yellow);
  border-radius: 3rem;

  position: relative;
  color: var(--text-color);
}
#experience ul#time-line li div:after {
  content: '';
  position: absolute;
  left: auto;
  right: 100%;
  top: 45%;
  border: solid 1rem;
  border-color: transparent var(--suport-color-yellow) transparent transparent;
}

#experience ul#time-line li div h2 {
  padding-bottom: 1rem;
}
#experience ul#time-line li div span {
  font-size: 1.2rem;
  display: block;
  padding-bottom: 1.5rem;
}
#experience ul#time-line li div p {
  line-height: 140%;
  font-size: 1.6rem;
  position: relative;
}
#experience ul#time-line li div p::before {
  content: '';
  position: absolute;
  display: block;
  top: 0.2rem;
  left: -1.5rem;
  border: solid 1rem;
  border-color: transparent transparent transparent var(--suport-color);
}
#experience ul#time-line li div p::first-letter {
  font-size: 2.5rem;
  padding-left: 0.5rem;
}

/* --------------- PROJECTS */

#projects {
  background: var(--secondary-color);
  color: var(--text-color);

  overflow: hidden;
  padding-top: 5rem;
}

#projects .content {
  padding-bottom: 8rem;
}

#projects .content .description {
  padding-top: 5rem;
  padding-inline: 0.5rem;
  padding-bottom: 1rem;
  font-size: 1.6rem;
  line-height: 130%;
  text-align: justify;
}

#projects .cards {
  display: flex;
  padding-top: 2.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

#projects .cards .card {
  width: min(40rem, 100%);
  display: flex;
  flex-direction: column;
  padding: 1rem;

  position: relative;
  overflow: hidden;

  border-radius: 2px;
  background-color: var(--suport-color);
}
#projects .cards .card::after {
  content: '';
  width: 2rem;
  height: 8.5rem;
  background-color: var(--secondary-color);
  display: block;
  position: absolute;
  top: -20px;
  right: 12px;
  transform: rotateZ(135deg);
}

#projects .card .header {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1.5rem;
}
#projects .card .header a {
  padding: 0.2rem;
  display: flex;
}
#projects .card .header svg {
  width: 2.5rem;
  height: 2.5rem;
}
#projects .card .header svg path {
  stroke: var(--secondary-color);
}

#projects .cards .card h1 {
  width: 25rem;
  font-size: 2.5rem;
  padding-top: 0.3rem;
  color: var(--primary-color);

  position: relative;
  z-index: 1;
}
#projects .cards .card h1::before {
  content: '';
  width: 10rem;
  height: 1.5rem;
  background-color: var(--secondary-color);
  display: block;
  position: absolute;
  z-index: -1;
  opacity: 0.5;
  top: 0;
}

#projects .cards .card .infos {
  padding-bottom: 1rem;
}
#projects .cards .card .infos h4 {
  font-size: 1.2rem;
  padding-left: 1.3rem;
  position: relative;
}
#projects .cards .card .infos h4::before {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--suport-color);
  position: absolute;
  left: 0;
  top: 0.3rem;
}
#projects .cards .card .infos h4::after {
  content: '';
  display: block;
  width: 5rem;
  height: 0.2rem;
  background-color: var(--suport-color);
  position: absolute;
  bottom: -0.3rem;
}

#projects .cards .card .content {
  background-color: var(--primary-color);
  border-radius: 2px;
  padding: 1rem;
  position: relative;
}

#projects .cards .card .content img {
  width: 100%;
  height: 25rem;
  border: 0.2rem solid var(--secondary-color);
  border-radius: 1.3rem;
  filter: grayscale(1);
  transition: filter 0.3s;
}

#projects .cards .card .content img:hover {
  filter: grayscale(0);
}

#projects .cards .card .content .desc-info {
  position: absolute;
  left: 1.2rem;
  bottom: 2.5rem;
  width: 80%;

  padding: 0.2rem;

  /* background: rgba(255, 255, 255, 0.2); */
  background: rgba(78, 76, 82, 0.5);
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

#projects .cards .card .content .desc-info p {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.1rem;
  padding-inline: 0.3rem;
  color: var(--text-color);
}

#projects .cards .card .techs {
  display: flex;
  justify-content: flex-start;
  gap: 0.3rem;

  padding-top: 1rem;
  padding-left: 0.5rem;
}

#projects .cards .card .techs span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.4rem;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-radius: 5px;
  background-color: var(--secondary-color);
  border: 0.1rem solid var(--text-color);
}
#projects .techs svg {
  width: 2rem;
  height: 2rem;
}
#projects .techs svg path {
  fill: var(--suport-color);
}

/* ============================================================= */

footer {
  background: var(--primary-color);
  color: var(--text-color);
  padding-top: 5rem;
  padding-bottom: 3rem;
}

footer .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .content .contact {
  width: 100%;
  padding-inline: 2rem;
}
footer .content .contact h2 {
  color: var(--suport-color);
  font-size: 2.8rem;
  padding-left: 1rem;
}

footer .content .contact .contact-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  padding-block: 3rem;
}

footer .contact .contact-info .contact-email,
footer .contact .contact-info .contact-linkedin {
  display: flex;
  align-items: center;
  gap: 1rem;
}

footer .contact .contact-info .contact-email svg,
footer .contact .contact-info .contact-linkedin svg {
  width: 2.6rem;
  height: 2.6rem;
}
footer .contact .contact-info .contact-email svg path {
  stroke: var(--suport-color);
  fill: var(--suport-color);
}
footer .contact .contact-info .contact-linkedin svg path {
  fill: var(--suport-color);
}

footer .contact .contact-info .contact-email span,
footer .contact .contact-info .contact-linkedin span {
  font-size: 1.6rem;
}

footer .content .description {
  font-size: 1.4rem;
  padding-top: 3rem;
}
footer .content .description span {
  color: var(--suport-color);
}

/*  ======================BUTTON/BACK TO TOP==================== */

#backToTopButton {
  position: fixed;
  z-index: 999;
  bottom: 5rem;
  right: 2.5rem;

  opacity: 0;
  visibility: hidden;

  /* joga para fora da tela, pra depois voltar com o .show */
  transform: translateY(100%);
  transition: 200ms;
}

/* quando ele estiver com a classe .show */
#backToTopButton.show {
  opacity: 1;
  visibility: visible;

  transform: translateY(0);
}

#backToTopButton svg circle {
  fill: var(--primary-color);
}

/* ============================= */

/* =============================== DESKTOP ============================= */
@media (min-width: 768px) {
  nav {
    height: 7rem;
  }

  nav .wrapper {
    width: min(76rem, 100%);
    display: flex;
    justify-content: space-between;
  }

  nav.active #menu {
    /* display: none; */
    height: initial;
    visibility: initial;
    overflow-y: initial;
  }

  /* ------ */
  #menu {
    display: initial;
    position: initial;
    z-index: initial;
    visibility: initial;
    overflow-y: initial;
  }
  /* ------ */

  #btn-mobile {
    display: none;
  }

  #menu {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    justify-content: flex-end;
  }

  #menu li:first-child {
    padding-top: initial;
  }

  #menu a {
    display: block;
    padding: 1.5rem;
    margin: 0;
    color: var(--text-color);
  }
  #menu a:hover {
    background: rgba(0, 0, 0, 0.5);
  }

  #menu a::before {
    content: none;
  }
}

@media (min-width: 1024px) {
  body {
    overflow: auto;
  }

  .wrapper {
    width: min(112rem, 100%);
    display: grid;
  }

  nav .wrapper {
    width: min(112rem, 100%);
  }

  .col-a {
    /* vai ocupar a Coluna A */
    grid-area: A;
  }
  .col-b {
    /* vai ocupar a Coluna B */
    grid-area: B;
  }

  /* ================== header ================= */
  header .wrapper {
    grid-template-columns: 1fr;
    grid-template-areas: 'A';
  }

  header .content {
    flex-direction: row;
    justify-content: space-evenly;
    padding-block: 10rem;
  }

  header .content .area {
    background: none;
  }

  header .content .content-perfil-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  header .content .perfil-links {
    width: 20rem;
    flex-direction: column;
    gap: 3rem;
  }

  header .content .perfil-links .perfil-linkedin,
  header .content .perfil-links .perfil-github {
    width: 20rem;
  }

  header .content .perfil-image {
    width: 20rem;
    height: 20rem;
  }

  /* ============================== */

  #about .about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'A B';
  }
  #about .about .content {
    margin-top: 10rem;
    padding-block: 5rem;
  }
  #about .about .img-about {
    width: 30rem;
  }
}
