:root {
  font-size: 62.5%;
  --primary-color: #222025;
  --secondary-color: #4e4c52;
  --text-color: #f9eaff;
  --menu-bg: #f5f6fa;
  --suport-color: #00c9a4;

  --font-b: 'Rubik', sans-serif;

  --h1-tam: 4rem;
  --h2-tam: 2rem;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-b);
}

.wrapper {
  width: min(50rem, 100%);
  margin-left: auto;
  margin-right: auto;

  padding-inline: 1rem;

  /* background-color: aquamarine; */
}

nav {
  background-color: var(--primary-color);
  padding-bottom: 1rem;
}

#menuToggle {
  display: flex;
  flex-direction: column;
  position: relative;

  padding-top: 2rem;
  padding-bottom: 0.5rem;

  z-index: 2;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: flex;
  width: 4rem;
  height: 5rem;
  cursor: pointer;
  opacity: 0;

  position: absolute;
  top: 0;

  z-index: 3;
}

#menuToggle span {
  display: flex;
  width: 3rem;
  height: 0.3rem;
  margin-bottom: 0.5rem;
  position: relative;
  background: var(--suport-color);
  border-radius: 0.3rem;
  z-index: 1;

  transform-origin: 1.5rem 0.2rem;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-0.1rem, 0.8rem);
  background: var(--suport-color);
}
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -0.2rem);
}

#menu {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  width: 100%;
  height: 100vh;
  box-shadow: 0 0 10px #85888c;
  margin: -2rem 0 0 -5rem;

  padding-block: 5rem;
  padding-inline: 5rem;
  padding-top: 10rem;

  background-color: var(--menu-bg);

  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: all 0.5s ease-in;

  visibility: hidden;
}

#menu li {
  padding-block: 1.5rem;
}

#menuToggle input:checked ~ ul {
  transform: none;
  visibility: visible;
}

/* -------------- */

#menu li a {
  text-decoration: none;
  font-size: 1.8rem;

  color: var(--primary-color);
}

/* -------------- */

header {
  background: var(--secondary-color);
}

header .wrapper {
  padding-inline: 0;
}

header .content {
  width: 100%;

  padding-block: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  overflow: hidden;
  position: relative;
  z-index: 1;
}

header .content::before {
  width: 100%;
  height: 100%;
  content: '';
  position: absolute;
  left: 0;
  right: 0;

  z-index: -1;

  display: block;
  background: url('../images/tech-bg-model.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: opacity(0.5);
}

header .content .perfil-image {
  background-color: var(--primary-color);
  width: 17rem;
  height: 17rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 0.2rem solid var(--suport-color);
}

header .content .perfil-image img {
  width: 100%;
  border-radius: 50%;
  padding: 0.5rem;
  border: 0.1rem solid transparent;
}

header .content .perfil-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 0.5rem;
  padding-block: 0.5rem;
}

header .content .perfil-text h2 {
  font-size: var(--h2-tam);
  color: var(--text-color);

  position: relative;
}
header .content .perfil-text h2::before {
  content: '</>';
  color: var(--suport-color);
  position: absolute;
  left: -3rem;
}

header .content .perfil-text h1 {
  font-size: var(--h1-tam);
  color: var(--text-color);

  position: relative;
}

header .content .perfil-text h1::after {
  content: '';
  display: block;
  width: 0.2rem;
  height: var(--h1-tam);
  background-color: var(--suport-color);

  position: absolute;
  top: 0;
  right: -0.5rem;

  animation: cursorPiscaElem infinite 1s;
  animation-timing-function: ease;
}

@keyframes cursorPiscaElem {
  from {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}

header .content .perfil-links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  padding-block: 2rem;
}

header .content .perfil-links .perfil-linkedin,
header .content .perfil-links .perfil-github {
  width: 15rem;
  padding-block: 0.5rem;
  padding-right: 0.5rem;
  background-color: var(--primary-color);

  display: flex;
  align-items: center;
  justify-content: space-around;

  border: 0.2rem solid var(--suport-color);
  border-radius: 0.5rem;
}

header .content .perfil-links img {
  width: 5rem;
}

header .content .perfil-links p {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--text-color);
}

/* ============================== ABOUT ========================= */

#about {
  background-color: var(--secondary-color);
  position: relative;
  z-index: 1;
}

#about::before {
  content: '';
  width: 100%;

  height: calc(100% - 20rem);
  background-color: var(--primary-color);
  display: block;

  position: absolute;
  top: 0;
  z-index: -1;
}

#about .about {
  width: 100%;

  color: var(--text-color);
}

#about .about .header {
  display: flex;
  flex-direction: column;
  padding-block: 2rem;

  gap: 2rem;
}

#about .about .header h2 {
  padding-block: 1rem;
  padding-inline: 2rem;
  font-size: var(--h2-tam);
  color: var(--suport-color);
}

#about .about .content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

#about .about .img-about {
  width: 30rem;
  border-radius: 0.5rem;
  overflow: hidden;

  border: 0.2rem solid var(--suport-color);

  position: relative;
}
#about .about .img-about::after {
  content: '';
  width: 2rem;
  height: 8.5rem;
  background-color: var(--suport-color);
  display: block;
  position: absolute;

  top: -20px;
  right: 12px;
  transform: rotateZ(135deg);
}

#about .about .img-about img {
  width: 100%;
  filter: grayscale(1);
}

#about .about .text-content {
  padding-inline: 2rem;
  /* background-color: rgba(0, 0, 0, 0.5); */
}

#about .about .text-content p {
  font-size: 1.6rem;
  line-height: 150%;
  text-align: justify;
}
